@function vwc($n) {
	@return calc($n / $canvas * 100vw);
}
@function vw($n) {
	@return calc($n / $container * 100vw);
}
@function vwt($n) {
	@return calc($n / 1023.98px * 100vw);
}
@function vwm($n) {
	@return calc($n / 767.98px * 100vw);
}
