html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	height: 100%;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
@mixin img {
	display: block;
	max-width: 100%;
	@content;
}
@mixin svg {
	display: block;
	max-width: 100%;
	@content;
}

@mixin list {
	margin-block: 0;
	padding-left: 0;
	list-style: none;
	@content;
}
@mixin button {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	border: none;
	@content;
}
@mixin title {
	margin-block: 0;
	@content;
}
@mixin p {
	margin-block: 0;
	@content;
}
@mixin link {
	color: inherit;
	text-decoration: none;
	@content;
}
@mixin input {
	font-family: inherit;
	color: inherit;
	font-size: inherit;
	padding: 0;
	border: 0;
	@content;
}
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/*
:where(ul, ol):where([class]) {
	padding-left: 0;
}
:where(blockquote, figure):where([class]) {
	margin: 0;
}
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
	margin-block: 0;
}
p {
	--paragraphMarginBottom: 24px;
	margin-block: 0;
}
p:where(:not([class]):not(:last-child)) {
	margin-bottom: var(--paragraphMarginBottom);
}
:where(dd[class]) {
	margin-left: 0;
}
:where(fieldset[class]) {
	margin-left: 0;
	padding: 0;
	border: none;
}
:where(ul[class]) {
	list-style: none;
}
:where(button):where([class]) {
	color: inherit;
	font-size: inherit;
}
input,
textarea,
select,
button {
	font-family: inherit;
}
*/

// svg *[fill] {
// 	fill: currentColor;
// }
// svg *[stroke] {
// 	stroke: currentColor;
// }
// svg * {
// 	transition-property: fill, stroke;
// }
